// maksimum genişlik, en fazla 1200 olabilir sayfa küçüldüğünde küçülebilir :
$max-width :1200px;
//grid yapısında iki kolonun arasındaki boşluklar (iki kutunun arası) :
$gutter:20px;
//parmak boyutu, mobil cihazlara dokunurken:
//rahat tıklamaya yarar:
$finger-size:40px;
$border-radius:3px;
//
$color-navy:#083B87;
$color-blue:#01ACEE;
$color-soft-blue:#F1F6FF;
//
$font-family:'Open Sans', sans-serif;
