.Header {
  .container {
    //normalde div block element olduğu için altalta yazıldı
    //elemanlar yanyana gelir, esnek kutu modeline geçerler
    display: flex;
    //dikeyde ortalar
    align-items: center;
    height: 64px;
    
    position: relative;
  }

  &-logo {
    img {
      width: 144px;
    }
  }

  //açılır menü svg'si, mobilde gözükmeli
  &-switch {
    //mevcut olan pozisyondan itibaren kaydırır
    position: relative;
    left: 10px;
    //sola yasladık:
    margin-left: auto;
    background: transparent;
    //include : mq mixin'ini getir.
    //default olarak, tablet mixini çalışır: min-width:768px olunca gözükmez
    @include mq {
      display: none;
    }
  }

  //yanyana menü mobilde gözükmeyecek
  &-menu {

    //menünün mobilde açılma efekti verildi:
    opacity: 0;
    transform: translateX(100%);
    transition: .2s;

    //768px ve altında menü gözükmeyecek.
    display: flex;
    //min-width 768 px olunca menü gözükecek.
    //containerı baz alması için, containera position:relative verdik.
    //serbest konumlandırma yapmak için:
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding-right: $gutter;
    padding-left: $gutter;
    padding-bottom: 20px;

    
    //dikey hizalama:
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 20px 30px rgba(black, .2);

    //görünür olduğunda display:flex özelliği alır.
      .Header.menu-show & {
        opacity: 1;
        transform: translateY(0);
      }

    @include mq("tablet") {
      opacity: 1;
      transform: translateY(0);
      transition: 0s;
      //en sağa alır
      margin-left: auto;
      flex-direction: row;
      //daha önce verilen tüm position değerlerini sıfırlar
      position: static;
      box-shadow: none;
      background-color:transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }

    //inline elementler yükseklik ve genişlik alamaz,
    //yani a elementi, bu sebeple display:flex kullanıldı
    &-user {
      width: 100%;
      display: flex;
      margin-right: 10px;
      flex-direction: column;
      align-items: center;
      @include mq("tablet"){
        flex-direction: row;
      }
      a {
        //yazıları ortalamak için:
        display: inline-flex;
        align-items: center;
        justify-content: center;

        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;
        &:hover {
          background-color: #eee;
        }
      }
    }

    //buton
    &-property {
      margin-top: 20px;
      justify-content: center;
      @include mq("tablet"){
        margin-top: 0;
      }
    }

    &-helper {
      margin-top: 20px;
      display: flex;
      justify-content: center;

      @include mq("tablet") {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        //stili sıfırlar
        appearance: none;
        border: 1px solid #e0e6f1;
        background-color: transparent;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 0;
        color: $color-navy;
        height: $finger-size;

        //1. elemanı
        &:nth-child(1) {
          border-bottom-left-radius: $border-radius;
          border-top-left-radius: $border-radius;
        }
        //2.elemanı
        &:nth-child(2) {
          //2 tane border üstüste geldiği için, birini sildik
          border-left: 0;
          border-bottom-right-radius: $border-radius;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }
}
